.subcategory-card-section-container{
    background-color: #f1f1f1;
}
.subcategory-card-section-container-mobile{
    background-color: #f1f1f1;
    overflow: scroll;
}
.subcategory-card-section{

    display: grid;
    grid-template-columns:repeat(5,1fr);
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;

}
.subcategory-card-section_mobile{
    display: none;
    grid-template-columns:repeat(5,1fr);
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.subcategory-card{
    text-align: center;
    padding: 16px;
}
.subcategory-card-img-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    text-align: center;
}
.category-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.subcategory-card p{
    font-weight: 500;
    margin-top: 10px;
    font-size: 30px !important;
    white-space: nowrap;
}
.subcategory_items_container{
max-width: 300px;
width: 100%;
margin: auto;
}
.subcategory_img_container{
    height: 250px;
    border: 1px solid rgb(198, 198, 198);
    
}
.subcategory_img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subcategory_items_container p{
        font-weight: 600;
        margin-top: 10px;
        height: 50px;
}
.subcategory_items_container h2{
    font-weight: 800;
    margin-top: 5px;
}
.subcategory_items_container button{
    background-color: #f26522;
    border: 0px;
    padding: 8px 15px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: small;
    margin-top: 10px;
}
    .subcategory_title{
    line-height: 33px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    margin: 20px 0px;    
}
.subcategory_hero_section{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}
.subcategory-card-section-container{
    position: relative;
}
.subcategory_card_section{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 3 columns */
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}



  .carousel-container {
    width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    width: fit-content;
    transition: transform 0.3s ease-in-out; /* Added transition */
  }
  
  .card {
    width: 1200px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added transition */
    transform: scale(1);
  }
  
  .card:hover {
    transform: scale(1.05); /* Added hover effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Added hover effect */
  }
  
  .carousel-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 8px 12px;
    background-color: #ffffff;
    color: #030303;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev-button {
    left: 8%;
  }
  
  .next-button {
    right: 8%;
  }
  /* pagination */
  .pagination_container{
    text-align: center;
    margin:50px 0px ;
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    width: 30px;
    margin: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #f26522;;
    color: white;
    border: 2px solid #f26522;
    border-radius: 50px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50px;
  }

  /*  */

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #dedede;
    color: #000000;
    border: none;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: small;
    font-weight: 500;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #dddddd;
  }
  
  .show {
    display: block;
  }
  

  @media (max-width: 1200px)  {
      .carousel-container {
        display: none;
      }
      .subcategory-card-section_mobile{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    min-width: 1200px;
    overflow:scroll;
      }
      
  }
  @media (max-width: 1200px)  {
  .subcategory_card_section{

    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */

}
  }
  @media (max-width: 900px)  {
    .subcategory_card_section{

      grid-template-columns: repeat(2, 1fr); /* Default: 3 columns */
    
  }
    }
    @media (max-width: 780px)  {
        .subcategory_card_section{
          grid-template-columns: repeat(1, 1fr); /* Default: 3 columns */
      }
      .subcategory_items_container {
        max-width: 90%;
        width: 100%;
        margin: auto;
    
        }
      }